<div class="container">

    <div class="starter-template">
        <h2>Selecciona un simulador</h2>
        <p class="text-muted">Selecciona un simulador de la parte inferior</p>
        <br>

        <% if !@simulator_list.blank? %>
            <% for simulator in @simulator_list %>
                <div class="col-md-3">
                    <div class="card card-inverse card-primary">
                        <div class="card-block">
                            <h3 class="card-title"><%= simulator.name %></h3>
                            <p class="card-text"><%= simulator.description %></p>
                            <a href="<%= simulator_path(simulator) %>" class="btn btn-primary">Ver</a>
                        </div>
                    </div>
                </div>
            <% end %>
        <% else %>
            <h3>No encontramos simuladores activos.</h3>
        <% end %>
    </div>

</div>
