<div class="container">

    <div class="starter-template">
        <h2>Selecciona un simulador</h2>
        <p class="text-muted">Selecciona un simulador de la parte inferior</p>
        <br>
        <div class="col-md-3">
            <div class="card card-inverse card-primary">
                <div class="card-block">
                    <h3 class="card-title">Nube Privada II</h3>
                    <p class="card-text">prestar los Servicios de Nube Privada al amparo del Acuerdo Marco</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
    </div>

</div>
