<div class="container">

    <h4>Tu lista de cotizaciones</h4>


    <!-- Service -->
    <div class="card">
        <div class="card-header">
            Servicio
        </div>

        <div class="card-block">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                      <div class="card-block">
                        <h4 class="card-title">Colsoft</h4>
                        <p class="card-text"><strong>$ 840.000.000</strong></p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                      <div class="card-block">
                        <h4 class="card-title">Une</h4>
                        <p class="card-text"><strong>$ 120.000.000</strong></p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                      <div class="card-block">
                        <h4 class="card-title">Level 3</h4>
                        <p class="card-text"><strong>$ 740.000.000</strong></p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Installation -->
    <br>
    <div class="card">
        <div class="card-header">
            Instalación
        </div>

        <div class="card-block">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                      <div class="card-block">
                        <h4 class="card-title">IFX</h4>
                        <p class="card-text"><strong>$ 840.000.000</strong></p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                      <div class="card-block">
                        <h4 class="card-title">Colombia telecomu...</h4>
                        <p class="card-text"><strong>$ 120.000.000</strong></p>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                      <div class="card-block">
                        <h4 class="card-title">UT NUBE PRIVADA</h4>
                        <p class="card-text"><strong>$ 740.000.000</strong></p>
                      </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>
