body
    padding-top: 100px

.navbar
    background-color: #277db7

section.page
    margin-top: 35px

.starter-template
    padding: 3rem 1.5rem
    text-align: center

.bg-blue
    background-color: #4083c7
